<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CourseContainer" connectionString="metadata=res://*/DataAccess.CourseModel.csdl|res://*/DataAccess.CourseModel.ssdl|res://*/DataAccess.CourseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARTIJN-MBP-WIN\SQLEXPRESS;Initial Catalog=test;Integrated Security=EFPoco;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>